@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit-ExtraBold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Sailec";
  src: url("/fonts/Sailec-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Sailec";
  src: url("/fonts/Sailec-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Sailec";
  src: url("/fonts/Sailec-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Sailec";
  src: url("/fonts/Sailec-Bold.woff2");
  font-weight: 700;
}